/* Reset Browser's CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;
    padding: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body,button,input,select,textarea {
    font-size: 12px/1.5;
}

input,select,textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    text-align: inherit;
}

fieldset,img,a img {
    border: 0;
}

iframe {
    display: block;
}

abbr,acronym {
    border: 0;
    font-variant: normal;
}

del {
    text-decoration: line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}
/*h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}*/
q:before,q:after {
    content: '';
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
}

body .hide {
    display: none;
}

.left,.right {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

/***********default settings**********/
html {
    background-color: #FDFDFD;
}
html, body {
    color: #000;
    /*background: url(/images/noisy_texture_c0ecef.png);*/
    /*background-image: url(/images/noisy_texture_d8d3b6.png);*/
    margin: 0;
    background-color: #FDFDFD;
}

body {
    position: relative;
    font-family: "微软雅黑","Arial","Helvetica","sans-serif";
    font-size: 16px;
    text-align: center;
    margin: auto 10px;
}

a {
    color: #4A75B5;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

a.external {
    padding-right: 13px;
    background: url('/images/icons.gif') no-repeat right 1px;
}

a.external:hover {
    background-position: right -15px;
}

.entry-title,.entry-title a {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #000;
    text-align: center;
}

.entry-title a:hover {
    text-decoration: none;
}

.entry-date {
    text-align: center;
    color: #999;
    margin-bottom: 60px;
    font-size: 14px;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 25px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

h4,h5,h6 {
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    margin-bottom: 40px;
    line-height: 1.8em;
}

code {
    background: #eee;
    border: 1px solid #ccc;
    padding: 0 5px;
    font-family: "Courier";
    line-height: 14px;
    font-size: 14px;
    word-wrap: break-word;
}

pre {
    background-color: #000;
    padding: 15px;
    overflow: auto;
    margin-bottom: 40px;
    font-size: 14px;
    border: 1px solid #eee;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color: #b9bdb6;
    margin-top: -20px;
}

pre code {
    background-color: transparent;
    border: none;
    padding: 0;
    word-wrap: normal;
}

pre ol {
    margin-left: 25px;
    list-style-type: decimal;
}

/************layout style*****************/
#main {
    position: relative;
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
    /*width: expression(document.body.clientWidth > 800? "800px": "auto");*/;
}

footer {
    position: relative;
    display: block;
    float: right;
 /* float important here for layout the footer's top side */
    width: 60%;
    height: 50px;
    bottom: 0;
    margin: 100px 20% 0 20%;
    color: #252525;
    border-top: solid 1px #252525;
}

#content {
    width: 70%;
    margin: 0px 0px 50px 25%;
    padding: 15px;
    min-height:400px;
    height:auto !important;
    height: 100%;
    border-left: solid 2px;
}

/****************entry style**************/
#content .entry{margin-bottom:40px;}
.entry ul{margin-bottom:25px;margin-left:25px;}
.entry ul li{margin-bottom:5px;list-style:disc;line-height:1.8em;}
.entry ol{margin-bottom:25px;margin-left:25px;}
.entry ol li{margin-bottom:5px;list-style:decimal;line-height:1.1em;}
.entry blockquote{margin-left:25px;font-size:14px;font-style:italic}
.entry img{max-width:670px;display:block;margin:10px auto;}



img.shadow {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

img.shadow:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

div.index-content div.blog {
    position: relative;
    padding-top: 20px; 
    top: 20px;
}


div.category {
    position: relative;
    height: 50px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.category h4 {
    display: inline-block;
}

.category ul {
    position: relative;
    text-align: center;
}

.category li {
    text-align: left;
    display: inline-block;
}

/***************** aside ******************/

.index-content .aside {
    display: inline;
    float: right;
    position: relative;
    margin: 10px 0 0 0;
    /*left: 80%;*/
    right: 0;
    /*bottom: auto;*/
    padding: 5px;
    width: 17%;
    max-width: 500px;
    color: #000;
    /*background: url(/images/noisy_texture_c0ecef.png);*/
    /*border: dotted #000;*/
    box-shadow: 0 2px 6px #ccc;
    background: #fff;
}

.index-content .aside p {
    text-align: left;
}

li.tag-list-item {
    display: inline-block;
}

.index-content div.poem {
    /*background-image: url(/images/noisy_texture_d8d3b6.png);*/
}

/*********** main section ***********/

.index-content .section { 
    display: inline;
    float: left;
    position: relative;
    margin: 10px 0 0 0; 
    width: 80%;
    height: 100%;
    color: #000;
    box-shadow: 0 2px 6px #ccc;
    background: #fff;
    padding: 10px 0 10px 0;
    /*background: url(/images/noisy_texture_d8d3b6.png);*/
}

.index-content .artical-list {
    width: 80%; 
    height: 100%; 
    margin: 0px auto; 
}
.index-content .artical-list li { margin-bottom:30px; }
.index-content h2 { font-size:20px; margin-bottom:15px; }
.index-content h2 a { color:#444 }
.index-content h2 a:hover { color:#00f; text-decoration:none; }
.index-content .post_preview {
    color:#252525;
    font-size:16px;
    line-height:1em;
    margin: 0;
}

.index-content .post_preview p {
    margin-bottom: 5px;
    line-height: 1.2em;
}

header {
    width: 100%;
    height: 50px;
    min-width: 420px;
}

div.site-name {
    position: relative;
    float: left;
    display: inline-block;
    width: 210px;
    height: 50px;
}

div.site-name h1 a {
    position: absolute;
    bottom: 0;
    color: #000;
}

div.site-name h1  a:hover {
    color: #000;
}

div.navigation { 
    float: right;
    position: relative;
    display: inline-block;
    width: 300px; 
    height: 50px;
    /*background: url(/images/noisy_texture_c0ecef.png);*/
}

.navigation ul {
    position: absolute;
    bottom: 0;
    right: 0;
}
.navigation li { 
    float: right;
    display: inline-block; 
    float:left; 
    zoom:1; 
    width: auto; 
    cursor:pointer; 
    background: #252525;
    text-align: left;
}
.navigation li a,
.navigation li a:visited {
    display:inline-block; 
    zoom:1; 
    color: gray; 
    width:100%; 
    text-decoration:none;
}
.navigation li a:hover { text-decoration:none; color: orange; }
.navigation li.on span{ color: white; }
.navigation li.space,
b.space {
    width: 30px;
    text-align: center;
    color: green;
}
.navigation li.on a:hover span{ color: orange; }

/*************Category List****************/
ul.category-list a.on {
    color: #0f0;
}

/***************Post List******************/

span.post_line {
    display: inline-block;
    width: 100%;
}

a.post_title_link {
    display: inline;
    float: left;
}

span.post_title {
    display: inline;
    font-size: 25px;
    color: #000;
}

div.post_prop {
    margin: 0 0 5px 0;
}

span.post_line a:hover span.post_title {
    color: #00F;
}

span.post_line:hover h.post_date {
    background-color: #E5E5E5;
}

h.post_date {
    display: inline;
    float: right;
    color: gray;
    font-size: 16px;
    font-style: normal;
    font-family: cursive;
    width: 22%;
    min-width: 150px;
    padding: 5px 2px 5px 0;
    text-align: right;
    border-top: 2px solid;
    /*border-right: 2px solid;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

img.icon_cat,
img.icon_tag {
    display: inline-block;
    margin: 0 5px 0 5px;
    padding: 0;
}

a.tag_btn,
a.cat_btn {
    border: dotted 2px #E5E5E5;
}
a.tag_btn:hover,
a.cat_btn:hover {
    border: dotted 2px #222222;
    text-decoration: none;
}

span.tag_size {
    font-size: 13px; 
    vertical-align: top;
    font-weight: bold;
    font-style: italic;
}

.more_btn {
    -moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
    box-shadow:inset 0px 0px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color:#f9f9f9;
    -webkit-border-top-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family: Arial;
    font-size:16px;
    font-weight:bold;
    font-style:normal;
    height:30px;
    line-height:30px;
    width:104px;
    text-decoration:none;
    text-align:center;
    text-shadow:0px 0px 0px #ffffff;
}
.more_btn:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
    background-color:#e9e9e9;
}
.more_btn:active {
    position:relative;
    top:1px;
}
/*li.post_item {
    padding: 5px;
    border: solid 1px #000;
    border-radius: 0 10px 0 0;
}*/

/***************Wiki Style*****************/
/*.wiki h2{cursor:pointer;}
.wiki ul{margin-left:30px;margin-bottom:20px;list-style:disc}
.wiki ul li{margin-bottom:5px;}
.wiki ul ul{list-style:circle;margin-top:10px;margin-bottom:10px;}
*/
/***************contact style*************/
/*#disqus_container {font-size:12px;}
#disqus_container a.comment{font-size:14px;}
h3.about {color:#777;margin-top:20px;font-size:22px;margin-bottom:10px}
.about-link a {margin-right:10px;font-weight:bold;font-style:italic;font-size:13px;color:#E50053}
*/

/***************Post Properities*************/
div.entry-content {
    border-bottom: dashed;
    margin-bottom: 50px;
}

div.entry-content div p {
    height: auto;
    line-height: auto;
    margin-bottom: 0;
}

a.post-tag-link {
    text-decoration: none;
}

span.post-tag-name,
span.post-cat-name {
    color: gray;
}

span.post-tag-name:hover,
span.post-cat-name:hover {
    border: dotted 1px gray;
    color: #000;
}

span.post-tag-count,
span.post-cat-count {
  background-color: #FF9900;
  padding: 0px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  margin: 0 6px 0 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: -2px;
  font-weight: bold;
  font-size: 0.875em;
}

/******************** Post Content ***************/
blockquote {
  margin: 1em 16px;
  border-left: .7em solid #DDDDDD;
  padding-left: 1em;
  background-color: #EEEEEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
blockquote p {
  margin-left: 0;
  margin-right: 0;
}

/* footer items */
span.fotter_copyright {
    float: left;
    display: inline-block;
}
ul.footer_icons {
    float: right;
    display: inline-block;
}
li.footer-icon-item {
    display: inline-block;
}

/**************目录导航**************/
/*#menuIndex {position:fixed;top:60px;right:20px;width:200px;overflow:auto}*/
#menuIndex {
    float: left;
    position: absolute;
    top: 150px;
    left: 0;
    width: 18%;
    max-width: 200px;
    border: solid 2px #DDD;
    background: #e8e8e8;
    text-align: left;
    overflow:auto
}
#menuIndex a {display:block; padding:2px 0; }
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#ffffff;}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

.home-menu { position:fixed; top:15px; left:15px; z-index:5; font-size:0; }
.home-menu-icon { line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px;  background:#000; }
.home-follow { margin-left:2px; line-height:38px; padding:0 8px; display:inline-block; color:#fff; font-size:18px; background:#000;  }
.home-menu-icon:hover,
.home-follow:hover { color:#fff; text-decoration:none; }
.home-contact { color:#fff; margin-top:2px; background:#000; padding:8px 0 7px; text-align:center; display:none;}
.home-contact a { width:30px; display:inline-block; }
.home-contact img { width:18px; }

@media screen and (max-width: 750px) {
    body {font-size:16px}

    div.index-content.blog div.section { 
        width: 90%;
        margin-left: 5%; 
        margin-right: 5%; 
    }
    #content { 
        width: 90%; 
        margin-left: 5%; 
        margin-right: 5%; 
    }

    h2{font-size:20px;}
    h3{font-size:16px;}
    embed {display:none;}

    .entry-title,.entry-title a {font-size:24px;}
    .entry-date {margin-bottom:40px;}
    .entry img{max-width:90%;}
    .entry pre ol li{margin-bottom:0;line-height:1em;}
    .entry pre code{line-height:1em;font-size:12px;}

    .index-content .aside { 
        position:relative; 
        width:100%; 
        height:300px; 
        max-width:none; 
    }
    .index-content .section ul { width:85%; }
    .index-content .cate-bar { width:85%; }
    .index-content .artical-cate { margin-top:50px; }

    .blog .aside,
    .project .aside,
    .opinion .aside {
        float: right;
        display: none;
        background-image: none;
    }

    div.site-name {
        display: inline;
        width: 180px;
        font-size: 13px;
    }
    div.navigation {
        display: inline;
    }
    #menuIndex {
        display: none;
    }
    footer { width: 80%; margin-left: 10%; margin-right: 10%;}
}

@media screen and (max-width: 540px){
    div.index-content.blog div.section { 
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #content { 
        width: 100%; 
        margin-left: 0px;
        margin-right: 0px;
    }
    .weibo-con { float:none; }
    div.site-name {
        display: inline;
        width: 160px;
        font-size: 12px;
    }
    div.navigation { 
        display: inline-block;
        font-size: 14px;
        width: 260px;
    }
    footer { width: 100%; margin-left: 0; margin-right: 0;}
}



/************************************************************************************
SOCIAL LINK a.sb
*************************************************************************************/
a.sb,
.sb a {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -900em;
    color: #333;
    text-decoration: none;
    line-height: 100%;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 2px 5px 0;
    
    /* default button color */
    background-color: #ececec;
    border: solid 1px #b8b8b9;
    
    /* default box shadow */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 0 rgba(0,0,0,.1);

    /* default border radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}
/* for IE */
*:first-child+html a.sb,
*:first-child+html .sb a {
    text-indent: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}


/* SB LIST
================================================ */
.sb {
    margin: 0;
    padding: 0;
}
.sb li {
    margin: 0;
    padding: 0;
    display: inline;
}


/* SIZES
================================================ */
/* small */
a.sb.small,
.sb.small a {
    width: 26px;
    height: 26px;
    font-size: 90%;
}

/* large */
a.sb.large,
.sb.large a {
    width: 40px;
    height: 40px;
    font-size: 120%;
}

/* COLORS
================================================ */

/* default hover */
a.sb:hover:after,
.sb a:hover:after {
    background-image: none;
}
a.sb:hover,
.sb a:hover,
a.sb:hover:after,
.sb a:hover:after {
    background-color: #f3f3f3;
}


/* blue color */
a.sb.blue,
.sb.blue a,
a.sb.blue:after,
.sb.blue a:after {
    background-color: #4d7de1;
    border-color: #294c89;
    color: #fff;
}
a.sb.blue:hover:after,
.sb.blue a:hover:after {
    background-image: none;
}
a.sb.blue:hover,
.sb.blue a:hover,
a.sb.blue:hover:after,
.sb.blue a:hover:after {
    background-color: #5384ed;
}
/* light-green color */
a.sb.light-green,
.sb.light-green a,
a.sb.light-green:after,
.sb.light-green a:after {
    background-color: #9bd611;
    border-color: #71a115;
}
a.sb.light-green:hover:after,
.sb.light-green a:hover:after {
    background-image: none;
}
a.sb.light-green:hover,
.sb.light-green a:hover,
a.sb.light-green:hover:after,
.sb.light-green a:hover:after {
    background-color: #b3ef16;
}
/* orange color */
a.sb.orange,
.sb.orange a,
a.sb.orange:after,
.sb.orange a:after {
    background-color: #ff9600;
    border-color: #c35505;
    color: #fff;
}
a.sb.orange:hover:after,
.sb.orange a:hover:after {
    background-image: none;
}
a.sb.orange:hover,
.sb.orange a:hover,
a.sb.orange:hover:after,
.sb.orange a:hover:after {
    background-color: #ffa500;
}

/* STYLES
================================================ */

/* min style */
a.sb.min,
.sb.min a {
    background-color: transparent;
    border: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* circle style */
a.sb.circle,
.sb.circle a,
a.sb.circle:before,
.sb.circle a:before,
a.sb.circle:after,
.sb.circle a:after {
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
}

/* round style */
a.sb,
.sb a,
a.sb:before,
.sb a:before,
a.sb:after,
.sb a:after {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* reset bottom border-radius for round and circle */
a.sb.circle:before,
.sb.circle a:before,
a.sb:before,
.sb a:before {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
}

/* thick-border border style */
a.sb.thick-border,
.sb.thick-border a {
    border-width: 3px;
}

/* no-border style */
a.sb.no-border,
.sb.no-border a {
    border: none;
}

/* no-shadow style */
a.sb.no-shadow,
.sb.no-shadow a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* pressed style */
a.sb.pressed,
.sb.pressed a {
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.35);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.35);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.35);
}

/* icon with text style */
a.sb.text,
.sb.text a {
    text-indent: 0;
    width: auto;
    height: 20px;
    padding: 9px 14px 3px 34px;
    background-position: 2px center;
}
*:first-child+html a.sb.text,
*:first-child+html .sb.text a {
    text-indent: inherit; /* for IE */
    line-height: 100%;
    font-size: 100%;
}

a.sb.small.text,
.sb.small.text a {
    background-position: 2px center;
    padding: 6px 12px 0 34px;
}
a.sb.large.text,
.sb.large.text a {
    background-position: 6px center;
    padding: 12px 20px 8px 40px;
}

/* flat style */
a.sb.flat,
.sb.flat a,
a.sb.flat:before,
.sb.flat a:before {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ICONS
================================================ */
a.sb:hover {
    opacity: 0.5;
}

a.sb.twitter,
.sb a.twitter {
    background-image: url(/images/twitter_bird.png);
}

a.sb.github,
.sb a.github {
    background-image: url(/images/github_cat.png);
}

a.sb.linkedin,
.sb a.linkedin {
    background-image: url(/images/LinkedIn-32.png);
}

a.sb.stackoverflow,
.sb a.stackoverflow {
    background-image: url(/images/StackOverFlow-32.png);
}

a.sb.weibo,
.sb a.weibo {
    background-image: url(/images/Weibo-32.png);
}

a.sb.foursquare,
.sb a.foursquare {
    background-image: url(/images/FourSquare-32.png);
}

/* white icons */
a.sb.blue.twitter,
.sb.blue a.twitter {
    background-image: url(/images/white_twitter_bird.png);
}

/************* footer icons *************/
a.footer-icon {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
}

a.icon-footer-twitter {
    background-color: #252525;
    background-image: url(/images/white_twitter_bird.png);
}
a.icon-footer-twitter:hover {
    background-color: #4d7de1;
}
a.icon-footer-github {
    background-color: #fff;
    background-image: url(/images/github_cat.png);
}
a.icon-footer-github:hover {
    background-color: #b3ef16;    
    border-color: #294c89;
}
a.icon-footer-weibo {
    background-color: #fff;
    background-image: url(/images/weibo-24-icon-black.png);
}
a.icon-footer-weibo:hover {
    background-image: url(/images/weibo-24-icon.png);
}

/************* Ranger => about me **************/
#ranger p,
#ranger span,
#ranger div {
    font-size: 20px;
}

#ranger div {
    vertical-align: top;
    line-height:1.8em;
}

div.self_intro {
    padding: 20px 20px 0 0;
}

div.left_col {
    display: inline-block;
}

div.right_col {
    display: inline;
    width: 150px;
    float: right;
}

span.email {
    color: #25900c;
}

div.collapse {
    display: none;
}

div.expand {
    display: block;
}

span.paragraph {
    font: bold 20px/30px Georgia, serif;
    color: gray;
    display: block;
    background-color: #E5E5E5;
    width: 50%;
    border-radius: 0 10px 0 0;
    padding-left: 10px;
}

img.event {
    display: inline-block;
    vertical-align: baseline;
    float: left;
}

p.event,
span.event {
    font: bold 16px Georgia, serif;
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 0px;
    display: inline;
    vertical-align: baseline;
}

p.detail,
div.detail {
    font: 12px Georgia, serif;;
    margin-left: 80px;
    margin-bottom: 10px;
    color: #202020;
}

table.courses {
    display: inline-block;
    background-color: #E9E9E9;
    border: solid 1px #000;
    padding: 5px;
    margin: 0;
}

table.courses td.semester {
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
    vertical-align: text-top;
}

/* The custom Gist styles */
.gist .gist-file {
  border: none !important;
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace, serif !important;
}
.gist .gist-file .gist-data {
  font-size: .9em !important;
  background-color: #393939 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.gist .gist-file .gist-data table {
  background-color: #393939 !important
}
.gist .gist-file .gist-data .line-numbers {
  background-color: #4b4b4b !important;
  border-right: none !important;
}
.gist .gist-file .gist-data .line-pre {
  font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace, serif !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.gist .gist-file .gist-meta {
  display: none !important;
  visibility: hidden;
}
.gist .gist-file .gist-meta a {
  color: #FF9900
}
.gist .gist-file .gist-meta a:visited {
  color: #CC6633
}

/************ custom jekyll style ************/
code {
    font-size: 15px;
}