<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="5; url=/">
        {% endif %}
        <title> {% if page.title %} {{ page.title }} | {% endif %} </title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

        <div id="main">

            <header>
            <h1> {% if page.title %} {{ page.title }} | {% endif %} </h1>
            <header>

            <nav role="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/way.html">Blog Way</a></li>
                <li><a href="/ranger">About Ranger</a></li>
            </ul>
            </nav>

            {{ content }}

            <footer>
            <p>@copy; Renjie Weng 2013 | All Rights Reserved. </p>
            </footer>

        </div>
    </body>
</html>
