<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

    <head>
        <meta charset='utf-8' />
        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="5; url=/">
        {% endif %}
        <title> {% if page.title %} {{ page.title }} {% endif %} </title>
        <link rel="stylesheet" href="/css/default.css" type="text/css" />
        <script src="/js/jquery-1.7.1.min.js"></script>
        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51069014-1', 'rangerway.com');
          ga('send', 'pageview');

        </script>
    </head>

    <body>
        <div id="main">
        <header>
            <div class="site-name">
                <a href="/"> Ranger's Way </a>
            </div>

            <div class="navigation">
                <ul>
                {% if page.type == "way" %}
                <li class="on" style="text-align:left"><a href="/way"><span>Way => blog</span></a></li>
                {% else %}
                <li style="text-align:left"><a href="/way"><span>Way => blog</span></a></li>
                {% endif %}

                <li class="space">&nbsp;|&nbsp;</li>

                {% if page.type == "ranger" %}
                <li class="on" style="text-align:right"><a href="/ranger"><span>Ranger => about me</span></a></li>
                {% else %}
                <li style="text-align:right"><a href="/ranger"><span>Ranger => about me</span></a></li>
                {% endif %}
                </ul>
            </div>
        </header>

        <hr size="2px" color="#000" style="min-width: 400px;">

        {{ content }}


        <footer>
            <div>
                <span class="fotter_copyright">© 2014 Renjie Weng. All rights reserved.</span>
                <ul class="footer_icons"> 
                    <li class="footer-icon-item"> <a class="footer-icon icon-footer-twitter" href="http://twitter.com/#!/gaga_ek" title="@gaga_ek"></a> </li> 
                    <li class="footer-icon-item"> <a class="footer-icon icon-footer-github" href="http://github.com/shohoku11wrj" title="my GitHub entry"></a> </li> 
                    <li class="footer-icon-item"> <a class="footer-icon icon-footer-weibo" href="http://weibo.com/230125141" title="@翼灵贰駟" style="text-indent: 0px;"><span class="hover" style"opacity: 0;"></span></a> </li> 
                </ul>
            </div>
        </footer>

        </div>

    </body>
</html>
