<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8' />
        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="5; url=/">
        {% endif %}
        <title> {% if page.title %} {{ page.title }} {% endif %} </title>
        <link rel="stylesheet" href="/css/default.css" type="text/css" />
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    </head>

    <body>
        <div id="main">
        <header>
            <div class="site-name">
                <h1><a href="/"> Ranger Way </a></h1>
            </div>

            <div class="navigation">
                <ul>
                {% if page.type == "way" %}
                <li class="on" style="text-align:left"><a href="/way"><span>Way => blog</span></a></li>
                {% else %}
                <li style="text-align:left"><a href="/way"><span>Way => blog</span></a></li>
                {% endif %}

                <li class="space">&nbsp;|&nbsp;</li>

                {% if page.type == "ranger" %}
                <li class="on" style="text-align:right"><a href="/ranger"><span>Ranger => about me</span></a></li>
                {% else %}
                <li style="text-align:right"><a href="/ranger"><span>Ranger => about me</span></a></li>
                {% endif %}
                </ul>
            </div>
        </header>

        <hr size="2px" color="#000" style="min-width: 400px;">

        {{ content }}


        <footer>
            <div>
                <span class="fotter_copyright">© 2013 Renjie Weng. All rights reserved.</span>
                <ul class="footer_icons"> 
                    <li class="footer-icon-item"> <a class="footer-icon icon-footer-twitter" href="http://twitter.com/#!/gaga_ek" title="@gaga_ek"></a> </li> 
                    <li class="footer-icon-item"> <a class="footer-icon icon-footer-github" href="http://github.com/shohoku11wrj" title="my GitHub entry"></a> </li> 
                    <li class="footer-icon-item"> <a class="footer-icon icon-footer-weibo" href="http://weibo.com/230125141" title="@翼灵贰駟"></a> </li> 
                </ul>
            </div>
        </footer>
        
        </div>

    </body>
</html>
