
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Club Events</title>
    <style>
        .event {
            border: 1px solid #ccc;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
        }
        .event-section {
            flex: 1;
            margin: 0 10px;
        }
        .event-title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .event-description {
            font-size: 1em;
        }
        .event-section:first-child {
            flex: 0 0 300px; /* Fixed width for the first column */
        }
        .event-section:nth-child(2) {
            flex: 0 0 450px; /* Fixed width for the second column */
        }
        .date-box {
            min-width: 60px;
            border: 1px solid #dfdfe8;
            display: inline-block;
            text-align: center;
        }
        .date-box .date {
            margin-top: 8px;
            color: #fc5200;
            font-size: 24px;
            line-height: 20px;
        }
        .event-details {
            display: flex;
            align-items: center;
        }
        .event-details div {
            margin-right: 10px;
        }
        .meet-up {
            color: #6d6d78;
        }
    </style>
</head>
<body>
    <div id="events-container">

    <div class="event">
        <div class="event-section">
            <div class="event-details">
                <div class="date-box">
                    <div class="date">27</div>
                    <div class="month">JUL</div>
                </div>
                <div>
                    <strong>08:30 AM</strong> Saturday<br>
                    <span class="meet-up">集合GPS:</span> 37.2262, -121.98224
                </div>
            </div>
            <div>
                <span class="meet-up">集合地点:</span> 201 N Santa Cruz Ave, Los Gatos, CA 95030 <br>
                <span class="meet-up">总路程:</span> 121.22 km (75.32 miles) <br>
                <span class="meet-up">总爬坡:</span> 1,970 m (6,465 ft) <br>
            </div>
        </div>
        
        <div class="event-section">
            <a href="https://www.strava.com/clubs/265/group_events/1727530 target="_blank">
                <img src="https://d3o5xota0a1fcr.cloudfront.net/v6/maps/7YQDC6I4NJANZV3QHOHBKLBSZARMLK3XV2FH7STFFDXQUVBCURTXT52ODDDKTIG4AC5QGVQXWVKSXJDABCRM546HPAAYYIUEYPKMPUQ=" alt="Route Image" width="100%">
            </a>
        </div>
        <div class="event-section">
            <div class="event-title">Saturday Road Ride on July 27th, 2024</div>
            <div class="event-description">组织者: Salvatore T.  🇮🇹 🇺🇸 | LGBRC <br></div>
            <div class="event-description">活动来自: <a href="https://www.strava.com/clubs/265/group_events/1727530" target="_blank">Los Gatos Bicycle Racing Club</a></div>
            <br>
            <div class="event-description">Dear fellow teammates, 

  This Saturday we are planning on doing a long ride and climb in sequence Mt. Madonna and then Eureka Canyon. The forecast is for a sunny day with temperatures around ~70, which should be perfect for a bike ride. We are planning on doing a few water stops along the road and as always we will be regrouping at the top of each climb and at the bottom of every descent. However, please make sure to bring with you lots of food, and water, and to refuel yourself constantly. The goal is to keep the peloton together until the climbs, and then set some tempo pace. As always feel free to contact me in private for more info, and if you are planning on joining I will really appreciate if you could please RSVP on Strava.  
</div>
        </div>
    </div>
    
    <div class="event">
        <div class="event-section">
            <div class="event-details">
                <div class="date-box">
                    <div class="date">27</div>
                    <div class="month">JUL</div>
                </div>
                <div>
                    <strong>08:30 AM</strong> Saturday<br>
                    <span class="meet-up">集合GPS:</span> 37.22643, -121.98213
                </div>
            </div>
            <div>
                <span class="meet-up">集合地点:</span> Mike's Bikes Los Gatos <br>
                <span class="meet-up">总路程:</span> 66.55 km (41.35 miles) <br>
                <span class="meet-up">总爬坡:</span> 627 m (2,058 ft) <br>
            </div>
        </div>
        
        <div class="event-section">
            <a href="https://www.strava.com/clubs/265/group_events/1728205 target="_blank">
                <img src="https://d3o5xota0a1fcr.cloudfront.net/v6/maps/E5YSSVPUVOB2C43GUOPXI4MJSLDCJ6RZET443GEL6XB7BEHYIOZRMTDA5263ET3QDJF44ATNCTA5OWLKA6HMXYXGNQUDOUA42CYLFKA=" alt="Route Image" width="100%">
            </a>
        </div>
        <div class="event-section">
            <div class="event-title">Saturday GRAVEL ride</div>
            <div class="event-description">组织者: Everyday Heroes Athletics Coach Ben <br></div>
            <div class="event-description">活动来自: <a href="https://www.strava.com/clubs/265/group_events/1728205" target="_blank">Los Gatos Bicycle Racing Club</a></div>
            <br>
            <div class="event-description">This should be a fun, brisk paced, gravel ride. I'm on a time crunch, so I can't do the amazing Eureka Canyon loop. But if you want to get some dirt with me, this is some super fun stuff!</div>
        </div>
    </div>
    
    <div class="event">
        <div class="event-section">
            <div class="event-details">
                <div class="date-box">
                    <div class="date">28</div>
                    <div class="month">JUL</div>
                </div>
                <div>
                    <strong>08:30 AM</strong> Sunday<br>
                    <span class="meet-up">集合GPS:</span> 37.22538, -121.9826
                </div>
            </div>
            <div>
                <span class="meet-up">集合地点:</span> 201 N Santa Cruz Ave, Los Gatos, CA 95032 <br>
                <span class="meet-up">总路程:</span> 49.56 km (30.80 miles) <br>
                <span class="meet-up">总爬坡:</span> 723 m (2,374 ft) <br>
            </div>
        </div>
        
        <div class="event-section">
            <a href="https://www.strava.com/clubs/265/group_events/1728273 target="_blank">
                <img src="https://d3o5xota0a1fcr.cloudfront.net/v6/maps/NWXPKV4HXYAOOJ7HM35GUTCMLKS75DZTMAA6LOLSEQGEJP4KJGCKAZGJEG2MMFKRLSTM3CXKGVNAIQNIRF3CN57EHNNMLHODPIJVXNY=" alt="Route Image" width="100%">
            </a>
        </div>
        <div class="event-section">
            <div class="event-title">Group Road Ride - Down Redwood Gulch</div>
            <div class="event-description">组织者: LGBRC Rides <br></div>
            <div class="event-description">活动来自: <a href="https://www.strava.com/clubs/265/group_events/1728273" target="_blank">Los Gatos Bicycle Racing Club</a></div>
            <br>
            <div class="event-description">This route is the clockwise version of the regular Redwood Gulch route (2nd Sunday of the month as of this posting).  This gives us an opportunity to climb highway 9.  One notable change is the out/back after the decent of Redwood Gulch on Stevens Canyon Rd, this adds an additional 4 miles to the total.  Before the intersection with Mt. Eden we will stop at Cooley Picnic Area on the left for bathrooms and water.  After a quick stop we continue around the reservoir and then follow neighborhood roads back to Mike’s Bikes.</div>
        </div>
    </div>
    
    <div class="event">
        <div class="event-section">
            <div class="event-details">
                <div class="date-box">
                    <div class="date">28</div>
                    <div class="month">JUL</div>
                </div>
                <div>
                    <strong>09:00 AM</strong> Sunday<br>
                    <span class="meet-up">集合GPS:</span> 37.93158, -122.02623
                </div>
            </div>
            <div>
                <span class="meet-up">集合地点:</span> 2700 Mitchell Dr, Walnut Creek, CA 94598 <br>
                <span class="meet-up">总路程:</span> 68.56 km (42.60 miles) <br>
                <span class="meet-up">总爬坡:</span> 1,334 m (4,378 ft) <br>
            </div>
        </div>
        
        <div class="event-section">
            <a href="https://www.strava.com/clubs/1157973/group_events/1726014 target="_blank">
                <img src="https://d3o5xota0a1fcr.cloudfront.net/v6/maps/IYYQBISWFENO7KFJBRVADNRQHUNEAVMEBRFTQAMJ3GRUUGAC47R5VNNPCCVC6BWXEOMFAZT7T5SW2XKWI6KECADUDZXXKNFGHDC57QA=" alt="Route Image" width="100%">
            </a>
        </div>
        <div class="event-section">
            <div class="event-title">Diablo challenge training ride</div>
            <div class="event-description">组织者: Yu Ji 🍪 <br></div>
            <div class="event-description">活动来自: <a href="https://www.strava.com/clubs/1157973/group_events/1726014" target="_blank">Featherweight Club (FWC)</a></div>
            <br>
            <div class="event-description">Meet at Calicraft Brewing Company (you may park there)
9 Meet 9:10 Roll
Note: 
-We can split into 2 groups:  "racing-paced group" and "casual-paced" group.
- Not recommended for Beginners for your safety going downhill. 
-There is one water station midway; please bring enough gel. Expect cold weather at the top.
</div>
        </div>
    </div>
    
    <div class="event">
        <div class="event-section">
            <div class="event-details">
                <div class="date-box">
                    <div class="date">30</div>
                    <div class="month">JUL</div>
                </div>
                <div>
                    <strong>18:10 PM</strong> Tuesday<br>
                    <span class="meet-up">集合GPS:</span> 37.22634, -121.98254
                </div>
            </div>
            <div>
                <span class="meet-up">集合地点:</span> 201 N Santa Cruz Ave, Los Gatos, CA 95030 <br>
                <span class="meet-up">总路程:</span> 37.91 km (23.56 miles) <br>
                <span class="meet-up">总爬坡:</span> 490 m (1,609 ft) <br>
            </div>
        </div>
        
        <div class="event-section">
            <a href="https://www.strava.com/clubs/265/group_events/1636084 target="_blank">
                <img src="https://d3o5xota0a1fcr.cloudfront.net/v6/maps/PGNKISVUC4QAGSHYVRAPKARDT3YHLLKYR6ASWGNR3AOGNRI4AVJW4I2VI2GYDFSR4ZFSWJSZWHW7LDWH4NJAAGPRNOIXQUGK6UXVN5A=" alt="Route Image" width="100%">
            </a>
        </div>
        <div class="event-section">
            <div class="event-title">Mike's Bikes Shop Ride</div>
            <div class="event-description">组织者: LGBRC Rides <br></div>
            <div class="event-description">活动来自: <a href="https://www.strava.com/clubs/265/group_events/1636084" target="_blank">Los Gatos Bicycle Racing Club</a></div>
            <br>
            <div class="event-description">Mike's Bikes shop ride led by Mike's Bikes shop employees.  We roll as soon as they close the store (6:10 to 6:15-ish).  </div>
        </div>
    </div>
    
    </div>
</body>
</html>
