<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>Email Spam Filter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=798, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ site_url }}/themes/ribbon/styles/screen.css">
</head>
<body class="list">
  {{ content }}
  <p class="badge"><a href="{{ site_url }}/slides">Back to Ranger's Way</a></p>
  <!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
  <div class="progress"><div></div></div>
  <script src="{{ site_url }}/shower/shower.min.js"></script>
</body>
</html>