---
layout: default
title: Bolg Way
type: way
---

<div class="index-content blog">
                <div class="category">
                    <ul class="category-list">
                    <h4>Category: </h4>
                    <li><a href="/way">All</a></li>
                    <li> = [ </li>
                    {% for cat in site.categories %}
                        <li>
                            <a href="/way/{{ cat[0] }}">{{ cat[0] | capitalize }}</a>
                            {% if forloop.index != site.categories.size %}
                            , 
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li> ] </li>
                </div>

                <div class="section">
                    {{ content }}
                </div>


                <div class="aside">
                    <table width="100%">
                        <tr>
                            <td>My name is <b>Renjie Weng</b>. I like physics, programming, cycling and playing basketball. <br />Learn more <a href="/ranger/">about me</a>.</td>
                        </tr>
                    </table>
                    
                    <br />
                    
                    <ul class="tag-list">
                    <h4>Tags</h4>
                    {% for tag in site.tags %}
                        <li>{{ tag[0] }}</li>
                    {% endfor %}

                </div>

            </div>