---
layout: default
title: Bolg Way
type: way
---

<div class="index-content blog">
                <div class="category">
                    <ul class="category-list">
                    <h4>Category: </h4>
                    <li>
                        {% if page.url == "/way/index.html" %}
                        <span>
                            All *{{ site.posts.size }}
                        </span>
                        {% else %}
                        <a href="/way">All</a>
                        {% endif %}
                    </li>
                    <li> = [ </li>
                    {% for cat in site.categories %}
                        <li>
                            {% if page.url contains cat[0] %}
                            <span>
                                {% assign category = cat[0] | downcase %}
                                {{ cat[0] | capitalize }} *{{ site.categories[category].size }}
                            </span>
                            {% else %}
                            <a href="/way/{{ cat[0] }}">{{ cat[0] | capitalize }}</a>
                            {% endif %}
                            {% if forloop.last == false %}
                            , 
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li> ] </li>
                </div>

                <div class="section">
                    {{ content }}
                </div>


                <div class="right">

                <div class="aside poem">
                    <center>
                    <span>一去二三里<br />烟村四五家<br />亭台六七座<br />八九十枝花</span>
                    </center>
                </div>

                <div class="aside">
                    <h4><a href="/ranger/">About me</a>
                        <ul class="footer_icons"> 
                        <li class="footer-icon-item"> <a class="footer-icon icon-footer-twitter" href="http://twitter.com/#!/gaga_ek" title="@gaga_ek"></a> </li> 
                        <li class="footer-icon-item"> <a class="footer-icon icon-footer-github" href="http://github.com/shohoku11wrj" title="my GitHub entry"></a> </li> 
                        <li class="footer-icon-item"> <a class="footer-icon icon-footer-weibo" href="http://weibo.com/230125141" title="@翼灵贰駟"></a> </li> 
                        </ul>
                    </h4>
                    <span>
                        My name is <b>Renjie Weng</b>. 
                        <br />
                        I like physics, programming, and cycling.
                        <br />
                        Programmer <b class="space">=> [</b> Android , .Net , Java <b class="space">]</b>
                        <br />
                        Interests <b class="space">=> [</b> Distributed Systems , Cryptography <b class="space">]</b>
                    </span>
                    
                </div>
                    
                <div class="aside">
                    <h4>Tags</h4>
                    <ul class="tag-list">
                    {% for tag in site.tags %}
                        <li class="tag-list-item">
                            <a class="tag_btn" href="/tags/index.html#{{ tag[0] }}"><span>{{ tag[0] }}</span><span class="tag_size"> {{ tag[1].size }}</span></a>
                        </li>
                    {% endfor %}
                    </ul>

                </div>

                <div class="aside">
                    <h4>Favorite Bloggers</h4>
                    <ul class="bloger-list">
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://www.ruanyifeng.com/blog/" target="_blank" title="wise &amp; humility">阮一峰</a> <span class="blogger">wise &amp; humility</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://stevelosh.com/" target="_blank" title="artist &amp; programmer">Steve Losh</a> <span class="blogger">artist &amp; programmer</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://www.changhai.org" target="_blank" title="erudite &amp; scientist">卢昌海</a> <span class="blogger">wise &amp; scientist</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://jordanscales.com/" target="_blank" title="geek &amp; pioneer">Jordan Scales</a> <span class="blogger">geek, SOSS organizor</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://basiccoder.com/" target="_blank" title="smart &amp; humorous">basiccoder</a> <span class="blogger">机智幽默的青岛小青年</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://zerowidth.com/" target="_blank" title="intelligent &amp; purified">zerowidth</a> <span class="blogger">high quality, clean design</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://beiyuu.com/" target="_blank" title="smart &amp; judicious">BeiYuu</a> <span class="blogger">写东西很负责</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://yizeng.me/" target="_blank" title="brilliant &amp; versatile">Yi Zeng</a> <span class="blogger">bright &amp; versatile</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://coolshell.cn/" target="_blank" title="intelligent &amp; diligent">酷壳</a> <span class="blogger">intelligent &amp; diligent</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://www.netmeister.org/" target="_blank" title="Prof. &amp; Hack. Jan Schauma">netmeister</a> <span class="blogger">Prof. Hack. Jan Schauma</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://cyrilmottier.com/" target="_blank" title="a mobile developer">Cyril Mottier</a> <span class="blogger">a mobile developer</span>
                        </li>
                        <li class="blogger-list-item">
                            <a class="blogger" href="http://www.kdolphin.com/" target="_blank" title="电子书发布,数码控">海豚微笑的背后</a> <span class="blogger">电子书发布者,数码控</span>
                        </li>
                    </ul>
                </div>

                </div>

            </div>